/* 
    Styles sheet for photo
 */

.Photo {
  background-color: #dadadf;
  border: 2px solid #dadadf;
  border-radius: 2px;
  text-align: center;
}

.Border {
  border: 1px solid #dadadf;
  border-radius: 10px;
  width: 96%;
  height: auto;
}